// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body{
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}
h2{
  margin: 0;
}
li{
  font-size: 20px;
  padding: 2px;
  list-style: none;
  color: #252525;
  border-bottom: solid 1px grey;
}
.fa-solid{
  color: #bcb9c9;
}
.fa-trash-can{
  color: rgb(173, 63, 63);
}
ul{
  padding: 0px;
  width: 70%;
  text-align: center;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.add_button{
  text-decoration: none;
  background-color:#0074C8 ;
  color: white;
  padding: 5px 20px;
  border-radius: 3px;
}
a{
  text-decoration: none;
  color: black;
}
